
@{
    ViewData["Title"] = "Index";
}

<h2>FloraGotchi POF</h2>



<li>@ViewData["GameScore"]</li>
<li>@ViewData["HumLv"]</li>
<li>@ViewData["Temp"]</li>
<form asp-controller="Home" asp-action="UpdateTemp" method="post">

    <input type="text" name="Temperatuur" />

    <button type="submit" value="AddScore"  />

</form>
<br />